:host {
    display: block;
    line-height: 26px;
    font-size: 12px;
    font-family: monospace;
    /* animation: block_anime ease .3s; */
}

/* @keyframes block_anime {
    0% {
        transform: translate(0, 10px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
} */
.bottom_line {
    margin: 0 10px;
    height: 1px;
    background-color: #f0f0f0;
}

.outer_con {
    display: flex;
    padding: 4px 10px;
}

.outer_con:before {
    margin-right: 6px;
}

.outer_con[type="warn"] {
    background-color: rgba(255, 213, 0, 0.12);
}

.iscommand_before {
    display: none;
    margin-right: 8px;
    font-size: 10px;
    color: rgb(110, 110, 110);
    font-family: iconfont;
}

[iscommand="true"] .iscommand_before {
    display: block;
}

.outer_con[type="warn"] .outer_icon:before {
    display: block;
    font-family: iconfont;
    color: rgb(255, 213, 0);
    content: "\e60c";
    font-size: 14px;
}

.outer_con[type="error"] {
    background-color: rgba(255, 21, 0, 0.075);
}

.outer_con[type="error"] .outer_icon:before {
    display: block;
    font-family: iconfont;
    color: rgb(255, 21, 0);
    content: "\e614";
}


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}

.position {
    position: relative;
    margin-left: 20px;
    color: #545454;
}

.posi_con {
    display: none;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    padding: 6px;
    background-color: #ffffff;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, .1) 0 0 5px;
    opacity: 1;
    user-select: text;
    line-height: 1.6em;
}

.position:hover .posi_con {
    display: block;
}

.line,
.line2 {
    align-self: flex-start;
    display: block;
    position: relative;
    line-height: 26px;
    padding: 0 8px 0 14px;
    user-select: text;
}

.line2 {
    padding-left: 2px;
}

.line .line {
    display: block;
}

.line.putaway>.sanjiao {
    transform: rotate(-90deg);
}

.line.putaway>.obj_content {
    display: none;
}

.obj_content .obj_value {
    position: relative;
    display: none;
}

.line.putaway>.obj_line>.obj_value {
    display: block;
}

.still {
    display: block !important;
}

.sanjiao {
    position: absolute;
    left: 0;
    top: 8px;
    border-top: #727272 solid 6px;
    border-left: transparent solid 4px;
    border-right: transparent solid 4px;
}

.sanjiao_area {
    position: absolute;
    z-index: 2;
    left: -10px;
    top: 1px;
    width: 26px;
    height: 20px;
}

.sanjiao.hide {
    visibility: hidden;
}

.obj_key {
    position: relative;
    color: #7a2288;
}

.key_infos {
    display: none;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 30px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 0 5px;
    color: #7a2288;
    animation: key_infos_anime .2s ease 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translate(0, 16px);
}

.obj_key:hover .key_infos {
    display: block;
}

@keyframes key_infos_anime {
    0% {
        opacity: 0;
        transform: translate(0, 16px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.obj_line {
    display: flex;
    line-height: 20px;
}

.obj_key.pri_key {
    color: #b578be;
}

.class_name {
    margin-right: 6px;
}

.color_black {
    color: #242424;
}

.color_gray {
    color: #797979;
}

.color_string {
    color: #b22d28;
}

.color_num {
    color: #1901c7;
}

.obj_content {
    display: block;
    /* margin-left: 10px; */
}