.dialog_outer {
    position: fixed;
    max-width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
}

.toast_con {
    display: flex;
    margin: 10px;
    padding: 10px;
    color: rgb(61, 61, 61);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 0 5px;
    border-radius: 4px;
    font-size: 12px;
    word-break: break-all;
    animation: toast_anime ease .3s;
}

.ercode_dialog_outer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ercode_dialog {
    position: relative;
    z-index: 2;
    display: block;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 0 5px;
    animation: toast_anime ease .3s;
}

.ercode_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ercode_img {
    display: block;
    padding: 10px;
}

.ercode_img img {
    display: block;
    width: 180px;
    height: 180px;
}

.ercode_dialog_name {
    max-width: 180px;
    padding: 0 10px 10px;
    font-size: 12px;
    user-select: none;
    text-align: center;
    word-break: break-all;
}

.ercode_dialog_name span {
    user-select: all;
}

@keyframes toast_anime {
    0% {
        opacity: 0;
        transform: translate(20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.toast_con:hover .toast_close_btn {
    width: 20px;
}

.toast_close_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 0;
    overflow: hidden;
    color: rgb(126, 126, 126);
    cursor: default;
    transition: all ease .2s;
}

.toast_close_btn:hover {
    color: #000;
}