:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  font-size: 12px;
}
.list {
  min-height: 100px;
}
.list:empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list:empty:after {
  display: block;
  color: #aaa;
  content: "暂无打开的网页";
}
