:host {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.container {
    padding: 10px;
}

.title {
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    border-bottom: #e9e9e9 solid 1px;
    user-select: none;
}