/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    box-shadow: inset 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}


.pannel {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0 10px;
    /* margin: 10px; */
}

.pannel_title {
    height: 36px;
    line-height: 36px;
    border-bottom: #e9e9e9 solid 1px;
    font-size: 12px;
}