:host {
    display: block;
}

.pannel_container {
    padding: 10px 0;
    font-size: 12px;
}

.pannel_container p {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.script_desc {
    padding: 10px;
    margin: 0 10px 10px 0;
    background-color: #fafafa;
    user-select: text;
}

.color_tag {
    color: #7d1f7c;
}

.color_arrow {
    color: #a595a5;
}

.color_attr {
    color: #8f4a19;
}

.color_value {
    color: #2854c5;
}